/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block; }

body {
    line-height: 1; }

ol, ul {
    list-style: none; }

blockquote, q {
    quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

/*
@font-face {
    font-family: "untitled-font-1";
    src: url("fonts/untitled-font-1.eot");
    src: url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"), url("fonts/untitled-font-1.ttf") format("truetype"), url("fonts/untitled-font-1.svg#untitled-font-1") format("svg"), url("fonts/untitled-font-1.woff") format("woff");
    font-weight: normal;
    font-style: normal; }

[data-icon]:before {
    font-family: "untitled-font-1";
    content: attr(data-icon);
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none !important;
    speak: none;
    display: inline-block;
    text-decoration: none;
    width: 1em;
    line-height: 1em;
    -webkit-font-smoothing: antialiased; }

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "untitled-font-1";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none !important;
    speak: none;
    display: inline-block;
    text-decoration: none;
    width: 1em;
    line-height: 1em;
    -webkit-font-smoothing: antialiased; }
*/



html {
    height: 100%; }
html body {
    height: 100%; }

.dashboard, #wardrobe {
    position: absolute;
    top: 0;
    bottom: 50px;
    width: 100%;
    overflow: hidden;
    background-color: #EC810C; }
    
.dashboard img, #wardrobe img {
    height: 100%;
    width: 100%; }

.footerFilter {
    width: 100%;
    position: absolute;
    height: 100px;
    bottom: 12px;
    margin-left:30%;
     }
     
.footerFilter button {
    display: block;
    float: left;
    text-align:center;
    background-color: #EC810C;
    margin-top: 29px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 8px;
	border: 0px solid silver;
    width: 80%;
    color: #ffffff;
    font-size: 1.3em; }

.footerSup {
    width: 100%;
    position: absolute;
    height: 100px;
    bottom: 70px;
     }
     
.footerSup button {
    display: block;
    float: left;
    text-align:center;
    background-color: black;
    margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 25px;
	border: 0px solid silver;
    width: 50%;
    color: #ffffff;
    font-size: 1.7em; }

.footer, nav, #options {
    width: 100%;
    position: absolute;
    height: 50px;
    bottom: 50px;
    background-color: silver; }
.footerS button, nav button, #options button {
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px;
    border: 0px solid silver;
    background-color: black;
    /*box-shadow: 2px 2px 2px 2px rgba(50, 50, 50, 0.2); */
    margin: 0;
    width: 50%;
    height: 100%;
    color: #ffffff;
    font-size: 1.7em; }
.footerSup button:active, nav button:active, #options button:active {
    background-color: black; }

nav {
    clear: both;
    bottom: 0; }
nav button {
    border-top: none;
    width: 33.333333333333333333333%; }

header {
    height: 50px;
    width: 100%;
    background-color: #000000; }

#wardrobe {
    background-color: #fff;;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; }
#wardrobe img {
    width: 100%;
    height: 100%; }

#options {
    background-color: green; }
#options button {
    width: 50%; }

.error {
    text-align: center;
    color: rgba(255, 0, 0, 0.8);
    text-shadow: none;
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    visibility: hidden; }

.float a:nth-child(1n) {
    float: left; }
.float a:nth-child(2n) {
    float: right; }

#view{
    position: absolute;
    top: 50px;
    bottom: 50px;
}
#view div {
    height: 25%;
    width: 100%;
    clear: both;
}
#view div img {
    width: 30%;
    height: 100%;
    display: block;
    float: left;
}
#view div p {
    font-size: 1.5em;
    text-align: center;
    width: 60%;
    height: 100%;
    display: block;
    float: left;
}
#view div button {
    width: 10%;
    height: 100%;
    display: block;
    float: left;
}



/* ---------------------------------------------------------------------------------------

icon as font

*/

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-filter_icon, .icon-eye_icon, .icon-cintre_icon, .icon-cap_icon, .icon-top_icon, .icon-shoes_icon, .icon-pants_icon, .icon-scan_icon, .icon-menu_icon, .icon-back_icon, .icon-home_icon, .icon-save_icon, .icon-share_icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-filter_icon:before {
	content: "\e000";
	font-size: 40px;
}
.icon-eye_icon:before {
	content: "\e001";
	font-size: 40px;
}
.icon-cintre_icon:before {
	content: "\e002";
}
.icon-cap_icon:before {
	content: "\e003";
	font-size: 40px;
}
.icon-top_icon:before {
	content: "\e004";
	font-size: 40px;
}
.icon-shoes_icon:before {
	content: "\e005";
	font-size: 40px;
}
.icon-pants_icon:before {
	content: "\e006";
	font-size: 40px;
}
.icon-scan_icon:before {
	content: "\e007";
}
.icon-menu_icon:before {
	content: "\e008";
}
.icon-back_icon:before {
	content: "\e009";
}
.icon-home_icon:before {
	content: "\e00a";
}
.icon-save_icon:before {
	content: "\e00b";
}
.icon-share_icon:before {
	content: "\e00c";
}
